<div id="container-navbar-adm">
	<h2>Area administrativa</h2>
	<ul class="nav navbar-nav navbar-nav-adm">
		<li>
			<h4>Container esquerdo</h4>
		</li>
		<li>
			<a href="photo">Foto perfil</a>
		</li>
		<li>
			<a href="characteristics">Caracteristicas</a>
		</li>
		<li>
			<h4>Container direito</h4>
		</li>
		<li>
			<a href="presentation">Apresentação</a>
		</li>
		<li>
			<a href="presentation">Curriculum Vitae</a>
		</li>
		<li>
			<a href="skills">Habilidades</a>
		</li>
		<li>
			<a href="portifolio">Portfólio</a>
		</li>
	</ul>
</div>