/* line 1, ../sass/Index/_index.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 7, ../sass/Index/_index.scss */
body #container-body {
  margin-top: 6%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  /* line 7, ../sass/Index/_index.scss */
  body #container-body {
    margin-top: 4%;
  }
}
/* line 17, ../sass/Index/_index.scss */
body #container-body main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 23, ../sass/Index/_index.scss */
body #container-body main .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 29, ../sass/Index/_index.scss */
body #container-body main .container .row {
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/Index/_index.scss */
body #container-body main .container .row #container-left {
  background-image: url("../img/overlay.png"), url("../img/bg1.jpg");
  padding: 5%;
}
/* line 39, ../sass/Index/_index.scss */
body #container-body main .container .row #container-left .left-photo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 39, ../sass/Index/_index.scss */
  body #container-body main .container .row #container-left .left-photo {
    position: fixed;
  }
}
/* line 45, ../sass/Index/_index.scss */
body #container-body main .container .row #container-left .left-photo img {
  width: 125px;
  height: 125px;
  margin: auto auto 10% auto;
  border-radius: 50%;
}
/* line 53, ../sass/Index/_index.scss */
body #container-body main .container .row #container-left .left-characteristics {
  text-align: justify;
  color: whitesmoke;
}
@media screen and (min-width: 768px) {
  /* line 53, ../sass/Index/_index.scss */
  body #container-body main .container .row #container-left .left-characteristics {
    position: fixed;
    top: 280px;
  }
}
/* line 63, ../sass/Index/_index.scss */
body #container-body main .container .row #container-left .left-characteristics h4 {
  margin: 0;
  padding: 0;
  line-height: 35px;
}
/* line 73, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation, body #container-body main .container .row #container-right .right-curriculum, body #container-body main .container .row #container-right .right-skills, body #container-body main .container .row #container-right .right-portifolios, body #container-body main .container .row #container-right .right-contacts {
  padding: 5%;
}
/* line 78, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation .title, body #container-body main .container .row #container-right .right-curriculum .title, body #container-body main .container .row #container-right .right-skills .title, body #container-body main .container .row #container-right .right-portifolios .title, body #container-body main .container .row #container-right .right-contacts .title {
  text-align: center;
  margin-bottom: 5%;
}
/* line 82, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation .title h2, body #container-body main .container .row #container-right .right-curriculum .title h2, body #container-body main .container .row #container-right .right-skills .title h2, body #container-body main .container .row #container-right .right-portifolios .title h2, body #container-body main .container .row #container-right .right-contacts .title h2 {
  margin: 0;
  padding: 0;
}
/* line 88, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation .text, body #container-body main .container .row #container-right .right-curriculum .text, body #container-body main .container .row #container-right .right-skills .text, body #container-body main .container .row #container-right .right-portifolios .text, body #container-body main .container .row #container-right .right-contacts .text {
  line-height: 30px;
  margin-bottom: 3%;
}
/* line 97, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation .text .presentation-text, body #container-body main .container .row #container-right .right-presentation .text .curriculum-text, body #container-body main .container .row #container-right .right-curriculum .text .presentation-text, body #container-body main .container .row #container-right .right-curriculum .text .curriculum-text, body #container-body main .container .row #container-right .right-skills .text .presentation-text, body #container-body main .container .row #container-right .right-skills .text .curriculum-text, body #container-body main .container .row #container-right .right-portifolios .text .presentation-text, body #container-body main .container .row #container-right .right-portifolios .text .curriculum-text, body #container-body main .container .row #container-right .right-contacts .text .presentation-text, body #container-body main .container .row #container-right .right-contacts .text .curriculum-text {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 107, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation .learnMore, body #container-body main .container .row #container-right .right-curriculum .learnMore, body #container-body main .container .row #container-right .right-skills .learnMore, body #container-body main .container .row #container-right .right-portifolios .learnMore, body #container-body main .container .row #container-right .right-contacts .learnMore {
  width: 15%;
  display: inline-block;
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
}
/* line 114, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-presentation .learnMore p, body #container-body main .container .row #container-right .right-curriculum .learnMore p, body #container-body main .container .row #container-right .right-skills .learnMore p, body #container-body main .container .row #container-right .right-portifolios .learnMore p, body #container-body main .container .row #container-right .right-contacts .learnMore p {
  margin: 0;
  padding: 10%;
  cursor: pointer;
}
/* line 137, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-skills .container-skills {
  text-align: center;
}
/* line 143, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-skills .container-skills .skills-star label i.fa:before {
  content: '\f005';
  color: #FC0;
}
/* line 148, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-skills .container-skills .skills-star label i.fb {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* line 157, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-skills .container-skills .skills-star label i.fb:before {
  content: '\f005';
  color: #CCC;
}
/* line 172, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-portifolios .container-portifolios-part {
  margin-bottom: 5%;
  text-align: center;
  min-height: 200px;
}
/* line 198, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-portifolios .container-portifolios-part:nth-last-child(1), body #container-body main .container .row #container-right .right-portifolios .container-portifolios-part:nth-last-child(2) {
  margin-bottom: 0;
}
/* line 208, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-portifolios .learnMore {
  margin-left: 5%;
}
/* line 217, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-contacts .container-contact {
  float: right;
}
/* line 220, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-contacts .container-contact p {
  display: inline-block;
}
/* line 227, ../sass/Index/_index.scss */
body #container-body main .container .row #container-right .right-contacts button.btn-default {
  margin-top: 1%;
}

/* line 2, ../sass/Adm_content/_portifolio.scss */
.container-portifolios-adm .container-portifolios {
  width: 22%;
  display: inline-block;
  padding: 5% 5% 0 5%;
  overflow: hidden;
}
/* line 7, ../sass/Adm_content/_portifolio.scss */
.container-portifolios-adm .container-portifolios .portifolios-img {
  width: 100%;
}
/* line 10, ../sass/Adm_content/_portifolio.scss */
.container-portifolios-adm .container-portifolios .portifolios-text {
  height: 50%;
}
