body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	// div que engloba todo o conteudo do site
	#container-body {
		@media screen and (min-width: 768px){
			margin-top: 4%;
		}
		margin-top: 6%;
		height: 100%;
		width: 100%;
		overflow: hidden;
		// padding: 0;

		main {
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;

			.container  {
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;

				.row {
					margin: 0;
					padding: 0;
					
					// div do lado esquerdo que engloba a foto e uma breve descricao
					#container-left {
					    background-image: url("../img/overlay.png"), url("../img/bg1.jpg");
					    padding: 5%;
					    // height: 400px;

						.left-photo {
							text-align: center;
							@media screen and (min-width: 768px){
								position: fixed;
							}

							img  {
								width: 125px;
    							height: 125px;
							    margin: auto auto 10% auto;
							    border-radius: 50%;
							}
						}

						.left-characteristics {
							text-align: justify;
							color: whitesmoke;

							@media screen and (min-width: 768px){
								position: fixed;
							    top: 280px;
							}
							

							h4 {
							    margin: 0;
							    padding: 0;
								line-height: 35px;
							}
						}
					}

					#container-right {
						// div da apresentacao, div do curriculum, div das habilidades, div dos portifolios, div do contato
						.right-presentation, .right-curriculum, .right-skills, .right-portifolios, .right-contacts {
							padding: 5%;
							// display: inline-block;
							// width: 100%;

							.title {
								text-align: center;
								margin-bottom: 5%;

								h2 {
									margin: 0;
									padding: 0;
								}
							}

							.text {
							    line-height: 30px;
				    			margin-bottom: 3%;

								p {
									margin: 0;
									padding: 0;
								}

								.presentation-text, .curriculum-text{
								    -webkit-box-orient: vertical;
								    display: block;
								    display: -webkit-box;
								    -webkit-line-clamp: 5;
								    overflow: hidden;
								    text-overflow: ellipsis;
								}
							}

							.learnMore {
							    width: 15%;
							    display: inline-block;
							    border: 1px solid;
							    border-radius: 6px;
							    text-align: center;

								p {
									margin: 0;
								    padding: 10%;
								    // display: block;
								    cursor: pointer;
								}
							}
						}

						// .right-presentation, .right-curriculum  {
						// 	.text  {
						// 		.presentation-text, .curriculum-text  {
						// 		    -webkit-box-orient: vertical;
						// 		    display: block;
						// 		    display: -webkit-box;
						// 		    -webkit-line-clamp: 5;
						// 		    overflow: hidden;
						// 		    text-overflow: ellipsis;
						// 		}
						// 	}	
						// }

						.right-skills {
							.container-skills {
									display: inline-block;
								    text-align: center;
								    //margin: 4%;

							    .skills-star  {
							    	label i.fa:before  {
									  content:'\f005';
									  color: #FC0;
							    	}

							    	label i.fb  {
							    		display: inline-block;
									    font: normal normal normal 14px/1 FontAwesome;
									    font-size: inherit;
									    text-rendering: auto;
									    -webkit-font-smoothing: antialiased;
									    -moz-osx-font-smoothing: grayscale;
									    transform: translate(0, 0);

									    &:before  {
										  content:'\f005';
										  color: #CCC;
									    	
									    }
							    	}
							    }
							}
						}

						// div dos portifolios
						.right-portifolios {
							// display: inline-block;
							// width: 100%;

							// .container-portifolios {
								.container-portifolios-part {
									//width: 50%;
								    padding: 0 5% 5% 5%;
								    // float: left;
								    display: inline-block;
								    text-align: center;

									.portifolios-img {
								        max-width: 200px;
									    max-height: 125px;
									    width: auto;
									    height: auto;
									    padding: 0;
									    margin-bottom: 10%;
									}

									.portifolios-text {
										text-align: center;

										p {
											margin: 0;
											padding: 0;
										}
									}
								}
							// }

							.learnMore {
							    margin-left: 5%;
							}
						}

						.right-contacts {
							span.container-myemail {
								float: right;
							}
							button.btn-default {
								margin-top: 1%;
							}
						}
					}
				}
			}
		}
	}
}