body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
    display: inline-table;
	// div que engloba todo o conteudo do site
	#container-body{
		height: 100%;
		width: 100%;
		margin-top: 4%;
		// div do lado esquerdo que engloba a foto e uma breve descricao
		.navbar-default{
			margin: 0;
		}
		#result-modal{
			display: block;
			position: absolute;
		    top: 45%;
		    left: 45%;
		}
		main{
			height: 100%;
		}
		#container-left{
			float: left;
		    margin: 0;
		    padding: 5%;
			width: 30%;;
		    height: 100%;
		    background: #ccc;
			.left-photo{
				text-align: center;
				img {
					width: 100px;
				    height: 100px;
				    margin: auto auto 10% auto;
				    border-radius: 50%;
				    background: red;
				}
			}
			.left-characteristics{
				text-align: justify;
				h4{
				    margin: 0;
				    padding: 0;
					line-height: 35px;
				}
			}
		}
		// div do lado direito que engloba a apresentacao, o curriculum, as habilidades, o portifolio e o contato
		#container-right{
			float: left;
			width: 70%;
			.right-presentation, .right-curriculum {
				.text {
					.presentation-text, .curriculum-text {
					    -webkit-box-orient: vertical;
					    display: block;
					    display: -webkit-box;
					    -webkit-line-clamp: 5;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
				}	
			}
			.right-skills{
				.skills-text{
					display: inline-block;
				    text-align: center;
				    margin: 4%;
				    .estrelas {
				    	label i.fa:before {
						  content:'\f005';
						  color: #FC0;
				    	}
				    	label i.fb {
				    		display: inline-block;
						    font: normal normal normal 14px/1 FontAwesome;
						    font-size: inherit;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
						    transform: translate(0, 0);
						    &:before {
							  content:'\f005';
							  color: #CCC;
						    	
						    }
				    	}
				    }
				}
			}
			// div da apresentacao, div do curriculum, div das habilidades, div dos portifolios, div do contato
			.right-presentation, .right-curriculum, .right-skills, .right-portifolios, .right-contacts{
				padding: 5%;
				display: inline-block;
				width: 100%;
				.title{
					text-align: center;
					margin-bottom: 5%;
					h2{
						margin: 0;
						padding: 0;
					}
				}
				.text{
				    line-height: 30px;
	    			margin-bottom: 2%;
					p{
						margin: 0;
						padding: 0;
					}
				}
				.learnMore{
					clear: both;
				    width: 20%;
				    border: 1px solid;
				    border-radius: 6px;
				    text-align: center;
					p{
						margin: 0;
					    padding: 10%;
					    display: block;
					    cursor: pointer;
					}
				}
			}
			// div dos portifolios
			.right-portifolios{
				display: inline-block;
				width: 100%;
				.container-portifolios{
					.container-portifolios-part{
						width: 50%;
					    padding: 0 5% 5% 5%;
					    float: left;
					    text-align: center;
						.portifolios-img{
					        width: 70%;
						    padding: 0;
						    margin-bottom: 10%;
						}
						.portifolios-text{
							text-align: justify;
							p{
								margin: 0;
								padding: 0;
							}
						}
					}
				}
				.learnMore{
				    margin-left: 5%;
				}
			}
		}
	}
}